<?xml version="1.0" encoding="utf-8"?>
<routes>
    <blog>
        <route uri="/(\d*)" params="page" action="index" />
        <route uri="/view/(\d+)" params="id" action="view" />
        <route uri="/login" params="" action="login" />
    </blog>
    <admin>
        <route uri="/admin/(\d*)" params="page" action="index" />
        <route uri="/admin/post/(\d+)" params="id" action="view" />
        <!--
        <route uri="/admin/post/new" params="" action="newPost" />
        <route uri="/admin/post/edit/(\d+)" params="id" action="editPost" />
        <route uri="/admin/post/delete/(\d+)" params="id" action="deletePost" />
        -->
        <route uri="/admin/user" params="" action="user" />
        <route uri="/admin/user/new" params="" action="userForm" />
        <route uri="/admin/user/edit/(\d+)" params="id" action="userForm" />
        <route uri="/admin/user/save" params="" action="saveUser" />
        <!--
        <route uri="/admin/user/delete/(\d+)" params="id" action="deleteUser" />
        -->
        <route uri="/logout" params="" action="logout" />
    </admin>
</routes>