<?xml version="1.0" encoding="utf-8"?>
<routes>
    <public>
        <route uri="/(\d*)" params="page" controller="BlogController" action="index" />
        <route uri="/view/(\d+)" params="id" controller="BlogController" action="view" />
    </public>
    <admin>
        <route uri="/admin/(\d*)" params="page" controller="AdminController" action="index" />
        <route uri="/admin/new" params="" controller="AdminController" action="new" />
        <route uri="/admin/post/edit/(\d+)" params="id" controller="AdminController" action="editPost" />
        <route uri="/admin/post/delete/(\d+)" params="id" controller="AdminController" action="deletePost" />
    </admin>
</routes>